<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Profile</title>
</head>
<body class="page">
<header class="header container">
    <div class="header-top">
        <a class="all-links header-top-link header-top-link-one" href="/"><img class="img-header"
                                                                               src="../static/img/logo.png"
                                                                               alt="Lagoona"></a>
        <a class="all-links header-top-link header-top-link-two" href="tel:+74953225448">+7 495 322 54 48</a>
        <a class="all-links header-top-link header-top-link-three" href="/logout">Logout</a>
    </div>
</header>

<main class="main container">
    <h2 class="headings">
        Открыть профиль пользователя
    </h2>
    <div class="base-body-div-content">
        <form method="post">
            <input class="like-input" type="text" name="form-name" value="getUser-form"/>
            <input type="text" class="input-filed" name="userName" value="username">
            <button type="submit" class="all-btn header-btn like-button">Открыть</button>
        </form>
    </div>

    <h2 class="headings">
        Наши туры
    </h2>
    <div class="base-body-div-content">
        <h3>Туры</h3>
        {% for tour in tours %}
        <div class="container base-body-div-right">
            <div class="container base-body-div-right-img">
                <img class="img-header" src="../static/img/logo.png" alt="Lagoona">
            </div>

            <div class="container base-body-div-right-text">
                <div>
                    <h2>{{tour[1]}}</h2>
                    <p>{{tour[2]}}</p>
                    <h4>Цена: {{tour[7]}}</h4>
                    <button class="all-btn header-btn"><a class="all-links header-top-link header-top-link-three"
                                                          href="/tours/{{tour[0]}}">Подробнее</a></button>
                    <button class="all-btn header-btn like-button"><a
                            class="all-links header-top-link header-top-link-three"
                            href="/editTour/{{tour[0]}}">Редактировать</a></button>

                </div>


            </div>
        </div>
        {%endfor%}
    </div>
    <div class="base-body-div-content">
        <form method="POST" class="form" enctype='multipart/form-data'>
            <input class="like-input" type="text" name="form-name" value="createTour-form"/>
            <input type="text" class="input-filed-form" name="name" placeholder="Название тура"/>
            <textarea class="review-text input-filed-form" type="text" name="description"
                      placeholder="Короткое описание тура"></textarea>
            <input type="number" class="input-filed-form" name="price" placeholder="Стоимость"/>
            <textarea class="review-text input-filed-form" type="text" name="longdesc"
                      placeholder="Длинное описание тура"></textarea>
            <select name="hotel" class="input-filed-form">
                {% for hotel in hotelsOption %}
                <option value="{{hotel[0]}}">{{hotel[1]}}</option>
                {%endfor%}
            </select>
            <input type="file" name="img" class="input-filed-form"/>
            <button type="submit" class="all-btn header-btn like-button">Создать</button>
        </form>

    </div>
</main>
</body>
</html>