<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Profile</title>
</head>
<body class="page">
<header class="header container">
    <div class="header-top">
        <a class="all-links header-top-link header-top-link-one" href="/"><img class="img-header"
                                                                               src="../static/img/logo.png"
                                                                               alt="Lagoona"></a>
        <a class="all-links header-top-link header-top-link-two" href="tel:+74953225448">+7 495 322 54 48</a>
        <a class="all-links header-top-link header-top-link-three" href="/logout">Logout</a>
    </div>
    <h1 class="header container">Профиль</h1>
    <h2 class="headings"> Данные пользователя </h2>
    <div dicplay="block">
        <ul display="inline-block">
            <li class="header-bottom-list">
                <span>Имя пользователя: {{user[1]}}</span>
            </li>
            <li class="header-bottom-list">
                <span>Email: {{user[5]}}</span>
            </li>
            <li class="header-bottom-list">
                <span>Фамилия: {{user[4]}}</span>
            </li>
            <li class="header-bottom-list">
                <span>Имя: {{user[3]}}</span>
            </li>
            <li class="header-bottom-list">
                <span>Номер паспорта: {{user[6]}}</span>
            </li>
            <h4>Загран паспорт</h4>
            {% if intpassport %}
            <li class="header-bottom-list">
                <span>Номер паспорта: {{intpassport[1]}}</span>
            </li>
            <li class="header-bottom-list">
                <span>Кем выдан: {{intpassport[3]}}</span>
            </li>
            <li class="header-bottom-list">
                <span>Дата выдачи: {{intpassport[2]}}</span>
            </li>
            {% else %}
            <form class="form" method="post" display="inline-block">
                <input class="like-input" type="text" name="form-name" value="intpass-form"/>
                <input type="text" name="intnumber" placeholder="Номер пассорта">
                <input type="text" class="input-filed" name="kem" placeholder="Кем выдан">
                <input type="date" class="input-filed" name="date" placeholder="Дата выдачи">
                <button type="submit" class="all-btn header-btn like-button">Добавить</button>
            </form>
            {% endif %}

        </ul>
    </div>
</header>

<main class="main container">
    <h2 class="headings">
        История поездок
    </h2>
    <div display="inline-block">
        <h4>Наши туры</h4>
        {% for booking in bookings%}
        <div class="container base-body-div-right places" display="inline-block">
            <h3>{{booking[7]}}</h3>
            <p>{{booking[8]}}</p>
            <h4>Цена: {{booking[9]}}</h4>
            <h4>Дополнительные услуги</h4>
            {% for service in services%}
            {% if booking[0] == service[1] %}
            <span>{{service[3]}}</span>
            {% endif %}
            {% endfor %}
            <form class="form" method="post">
                <input class="like-input" type="text" name="form-name" value="reject-form"/>
                <input class="like-input" type="text" name="idbooking" value="{{booking[0]}}"/>
                <button type="submit" class="all-btn header-btn like-button">Отказаться от брони</button>
            </form>
        </div>
        {% endfor %}
        <h4>Ваши туры</h4>
        {% for self in selfTours%}
        <div class="container base-body-div-right places" display="inline-block">
            <h3>Отель: {{self[6]}}, стоимость: {{self[7]}}</h3>
            <h4>Дата начала: {{self[1]}}, дата окончания: {{self[2]}}</h4>
            <h4>Дополнительные услуги</h4>
            {% for service in servicesSelf%}
            {% if self[0] == service[1] %}
            <span>{{service[3]}}</span>
            {% endif %}
            {% endfor %}
            <form class="form" method="post">
                <input class="like-input" type="text" name="form-name" value="selfReject-form"/>
                <input class="like-input" type="text" name="idself" value="{{self[0]}}"/>
                <button type="submit" class="all-btn header-btn like-button">Отказаться от брони</button>
            </form>
        </div>
        {% endfor %}

    </div>
    <h2 class="headings">
        Избранное
    </h2>
    <div class="base-body-div-content">
        <h3>Туры</h3>
        {% for tour in tours %}
        <div class="container base-body-div-right">
            <div class="container base-body-div-right-img">
                <img class="img-header" src="../static/img/Tours/{{tour[1]}}/1.jpg" alt="Lagoona">
            </div>

            <div class="container base-body-div-right-text">
                <div>
                    <h2>{{tour[1]}}</h2>
                    <p>{{tour[2]}}</p>
                    <h4>Цена: {{tour[3]}}</h4>
                    <button class="all-btn header-btn"><a class="all-links header-top-link header-top-link-three"
                                                          href="/tours/{{tour[0]}}">Подробнее</a></button>
                    <form method="POST" class="like-form">
                        <input class="like-input" type="text" name="form-name" value="like-form"/>
                        <input class="like-input" type="text" name="like-form" value={{tour[0]}}/>
                        <button type="submit" class="all-btn header-btn like-button">Убрать из избранного</button>
                    </form>
                </div>


            </div>
        </div>
        {%endfor%}
        <h3>Отели</h3>
        {% for hotel in hotels %}
        <div class="container base-body-div-right">
            <div class="container base-body-div-right-img">
                <img class="img-header" src="../static/img/Hotels/{{hotel[1]}}/1.jpg" alt="Lagoona">
            </div>

            <div class="container base-body-div-right-text">
                <div>
                    <h2>{{hotel[1]}}</h2>
                    <p>Расположение: {{hotel[10]}}, {{hotel[9]}}, {{hotel[3]}}, {{hotel[4]}}</p>
                    <h4>Цена: {{hotel[2]}}</h4>
                    <button class="all-btn header-btn"><a class="all-links header-top-link header-top-link-three"
                                                          href="/hotels/{{hotel[0]}}">Подробнее</a></button>
                    <form method="POST" class="like-form">
                        <input class="like-input" type="text" name="form-name" value="like-form-hotel"/>
                        <input class="like-input" type="text" name="like-form" value={{hotel[0]}}/>
                        <button type="submit" class="all-btn header-btn like-button">Убрать из избранного</button>
                    </form>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</main>
</body>
</html>