<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Registration Form 5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="./static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>

    <form id="register" class="form" method="post">
      <input type="text" class="input-filed" name="name" placeholder="Name">
      <input type="email" class="input-filed" name="secondName" placeholder="Second Name">
      <input type="text" class="input-filed" name="password" placeholder="Password">
      <input type="text" class="input-filed" name="passport" placeholder="Passport">
      <input type="text" class="input-filed" name="kem" placeholder="kem vidan">
      <input type="text" class="input-filed" name="data" placeholder="data vidachi">
      <input type="text" class="input-filed" name="phone" placeholder="Phone number">

      <input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
      <button type="submit" class="submit-btn" value="Register" name="">Register</button>
    </form>
  </div>
</body>

</html>