<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Tour</title>
</head>
<body class="page">
    <header class="header container">
        <div class="header-top">
          <a class="all-links header-top-link header-top-link-one" href="/"><img class="img-header" src="../static/img/rome.jpg"
              alt="Lagoona"></a>
          <a class="all-links header-top-link header-top-link-two" href="tel:+74953225448">+7 495 322 54 48</a>
          {% if username %}
          <a class="all-links header-top-link header-top-link-three" href="{{ url_for('profile', username = username)}}">{{username}}</a>
          {% else %}
          <a class="all-links header-top-link header-top-link-three" href="/login">Личный кабинет</a>
          {% endif %}
        </div>
    </header>

    <main class="main container">
        <div class="container">
            <h1>{{ tour.tourName }}</h1>
            <img src="{{ tour.imgMeta }}" alt="{{ tour.tourName }}" width="100%">
            <p>{{ tour.description }}</p>
            <h2>Hotel Details:</h2>
            <p><strong>Name:</strong> {{ tour.hotelName }}</p>
            <p class="hotel-address"><strong>Address:</strong> {{ tour.address.street }}, {{ tour.address.house }}, {{ tour.address.city }}, {{ tour.address.country }}</p>
            <p><strong>Stars:</strong> {{ tour.stars }}</p>
            <p><strong>Price:</strong> {{ tour.price }}</p>
            <form action="/order/" class="form" method="post">
                <input type="hidden" name="tour_id" value="{{ tour.id }}">
                <label for="start_date">Tour Start Date:</label>
                <input class="input-filed-form-text" type="date" name="start_date" id="start_date" required>
                <label for="end_date">Tour End Date:</label>
                <input class="input-filed-form-text " type="date" name="end_date" id="end_date" required>
                <button class="submit-btn all-btn header-btn" type="submit">Order Now</button>
            </form>
        </div>

    </main>



    <footer class="footer container">
        <div class="all-footer">
          <div class="footer-left">
            <div class="footer-left-pars">
              <p class="footer-pars">
                © 2012-2020 Управляющая компания Объединенной сети «Лагуна Хотелс»
              </p>
              <p class="footer-pars">
                Представленная на сайте информация носит справочный характер и не является публичной офертой
              </p>
            </div>
            <a class="all-links f-link f-left-link" href="#">Пользовательское соглашение</a>
          </div>
          <div class="footer-center">
            <address class="footer-address">11710, улица Юности, дом 5 строение 4, офис 2</address>
            <div class="footer-phones">
              <a class="all-links f-link" href="tel:+74995356434">+7 (499) 535-64-34</a>
              <a class="all-links f-link" href="tel:+74950050544">+7 (495) 005-05-44</a>
            </div>
            <div class="footer-links">
              <a class="all-links f-link" href="mailto:lg.oona@mail.ru">lg.oona@mail.ru</a>
              <a class="all-links f-link" href="mailto:hotels.ln@mail.ru">hotels.ln@mail.ru</a>
            </div>
          </div>
          <div class="footer-right">
            <ul>
              <li class="social-icon">
                <a class="all-links social-links social-links-owl" href="#"></a>
              </li>
              <li class="social-icon">
                <a class="all-links social-links social-links-twitter" href="#"></a>
              </li>
              <li class="social-icon">
                <a class="all-links social-links social-links-facebook" href="#"></a>
              </li>
              <li class="social-icon">
                <a class="all-links social-links social-links-vk" href="#"></a>
              </li>
              <li class="social-icon">
                <a class="all-links social-links social-links-inst" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
        
        
</body>
</html>