{% extends "base.html" %}

{% block maincontent %}

<div class="container ">
    <h1>Наши туры</h1>
    <div class="base-body-div">
        <div class="container base-body-div-left">
            <h3>Фильтры</h3>
            <div id="filters">
                <form id="filter" class="form" method="POST">
                    <input class="like-input" type="text" name="form-name" value="filter-form" />
                    <h4>Горящий тур</h4>
                    <div class="input-filed-form">
                        <input type="checkbox" class="input-filed" name="1" value="1"><span class="input-filed-form-text">Да</span>
                    </div>
                    <div class="input-filed-form">
                        <input type="checkbox" class="input-filed" name="0" value="0"><span class="input-filed-form-text">Нет</span>
                    </div>
                    <h4>Цена</h4>
                    <div class="input-filed-form">
                        <span class="input-filed-form-text">От</span><input type="number" class="input-filed" name="min_price" value="0">
                    </div>
                    <div class="input-filed-form">
                        <span class="input-filed-form-text">До</span><input type="number" class="input-filed" name="max_price" value="999999">
                    </div>
                    <button type="submit" class="submit-btn all-btn header-btn" value="Register" name="">Найти</button>
                </form>
            </div>
        </div>
        <div class="base-body-div-content">
            {% for tour in tours %}
            <div class="container base-body-div-right">
                <div class="container base-body-div-right-img">
                    <img class="img-header" src="./static/img/logo.png"alt="Lagoona">
                </div>

                <div class="container base-body-div-right-text">
                    <div>
                        <h2>{{tour[1]}}</h2>
                        <p>{{tour[2]}}</p>
                        <h4>Цена: {{tour[7]}}</h4>
                        <button class="all-btn header-btn"><a class="all-links header-top-link header-top-link-three" href="/tours/{{tour[0]}}">Подробнее</a></button>
                        <form method="POST" class="like-form">
                            <input class="like-input" type="text" name="form-name" value="like-form" />
                            <input class="like-input" type="text" name="like-form" value={{tour[0]}} />
                            <button type="submit" class="all-btn header-btn like-button">В избранное</button>
                        </form>
                    </div>
                   
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>


{% endblock maincontent %}